<!DOCTYPE html>
<html>
	<head>
		<title>LOG IN</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>
			$(document).ready(function(){
				var fogAddress = 'https://223.194.33.67:10033';
				$('#submitBtn').on('click', function(req, res){
					var id = $('#login').val();
					var password = $('#password').val();
					if(id == '' || password == ''){
						alert('아이디, 또는 비밀번호를 입력해주세요.');
					}else{
						var data = {id: id, pw: password};
						$.post('/loginClick.do', data, function(fetchedData){
							if(fetchedData == 'No id' || fetchedData == 'Wrong password'){
								alert('아이디, 또는 비밀번호가 일치하지 않습니다.');
							}else if(fetchedData == 'Error. etc.'){
								alert('fetchedData: 시스템에러. mariadbConn.js 확인');
							}else if(fetchedData == 'clear'){
								console.log(id);
								$.get('/ddd.do', {id: id});
								// $.get(fogAddress+'/redirecttorealdata.do', {id: id});
							}
						console.log('Back..');
						});
					}
				});
			});
		</script>
	</head>
	<body>
		<div class="wrapper fadeInDown">
			<div id="formContent">
			  <h2 class="title"> 농장 모니터링 시스템 </h2>
			  <!-- Icon -->
			  <div class="fadeIn first">
				<img src="chicken.png" id="icon" alt="Uddddser Icon" />
			  </div>
		  
			  <!-- 로그인 폼 -->
			  <form id="myForm" name="myForm">
				<input type="text" id="login" class="fadeIn second" name="login" placeholder="아이디">
				<input type="text" id="password" class="fadeIn third" name="login" placeholder="비밀번호">
				<input type="button" id="submitBtn" class="fadeIn fourth" value="로그인">
			  </form>
			</div>
		  </div>
	</body>
</html>