<!DOCTYPE html>
<html>
  <head>
    <title>FARM MANAGEMENT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css" >
    <script>
      
      setInterval(()=>{
        $.post("http://223.194.33.65:5000/getData.do",{userData:'1'},(dataBean)=>{
          var houseNum = $('#nongjangNum').val();
          if(houseNum == '0'){console.log('동번호를 선택하세요.');}else{
            var avgTemp  = Math.round((dataBean.houseData[houseNum-1].temp1 + dataBean.houseData[houseNum-1].temp2)/2);
            var avgHumid = Math.round((dataBean.houseData[houseNum-1].humid1 + dataBean.houseData[houseNum-1].humid2)/2);
            $('#internalTemp').html('내부온도<br>'+avgTemp+'˚C');
            $('#internalHumid').html('내부습도<br>'+avgHumid+'%');
          }
        });
      },2500);
    </script>
  </head>
  <body>
    <div id="wrap">
      <table>
        <tr>
          <td id="headerLeft">
            &nbsp;&nbsp;&nbsp;<img id="logo" src="KWUni.png">
          </td>
          <td id="headerRight">
            <img id="logout" src="Logout.png">&nbsp;&nbsp;&nbsp;
          </td>
        </tr>
      </table>
    </div>
    <ul>
      <li><a href="#main">메인 화면</a></li>
      <li><a href="#control">제어 화면</a></li>
    </ul>
    <div id='nongjang'>
      <table>
        <tr>
          <td class="nongjangTD"></td>
          <td class="nongjangTD"></td>
          <td class="nongjangTD">
            <select id="nongjangNum" name="nongjangNum">
              <option value="0">동번호 선택</option>
              <option value="1">1동</option>
              <option value="2">2동</option>
            </select>
          </td>
        </tr>  
      </table>
    </div>
    <div id="mainScreen">
      <table>
        <tr>
          <td class="mainValues">
            <div>목표온도</div>
            <div id="targetTemp">22.0˚C</div>
          </td>
          <td id="internalTemp" class="mainValues">내부온도<br>-대기중-</td>
          <td id="tempBand" class="mainValues">설정편차<br>3.0˚C</td>
        </tr>
        <tr>
          <td id="internalHumid" class="mainValues">내부습도<br>-대기중-</td>
          <td id="calcVentil" class="mainValues">환기 계산값<br>75%<br>(4500CMH)</td>
          <td class="mainValues">환기 계산값<br>75%<br>(4500CMH)</td>
        </tr>  
      </table>
      <table>
        <tr>
          <td id="controlsangtae" colspan="2">제어 상태</td>
        </tr>
        <tr>
          <td class="controlElement">
            <div><table><tr>
              <td class="controlTitle">환기</td>
              <td class="switch">
                자동<img id="fanSwitch" class="switchPic" src="switchAuto.png">수동
              </td></tr></table>
            </div>
            팬1<img id="fanPic1" class="controlPic" src="fan.png">&nbsp;&nbsp;&nbsp;&nbsp;
            팬2<img id="fanPic2" class="controlPic" src="fan.png">&nbsp;&nbsp;&nbsp;&nbsp;
            팬3<img id="fanPic3" class="controlPic" src="fan.png">
          </td>
          <td class="controlElement">
            <div>
              <table><tr>
                <td class="controlTitle">급수</td>
                <td class="switch">
                  자동<img id="waterSwitch" class="switchPic" src="switchAuto.png">
                  수동
                </td>  
              </tr></table>
              </div>
            <img id="waterPic" class="controlPic" src="drop.png">
          </td>
        </tr>
      </table>
    </div>
 </body>
</html>